<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
</head>
<body>
    <h1>Upload your file containing regions to restrict release</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label>Release Id:</label>
        <input type="text" name="release_id"/>
        <br/><br/>
        <label>What you want to do? </label>
        <select name="operation">
            <option value="insert_update">Add/Update</option>
            <option value="delete">Remove</option>
        </select>
        <br/><br/>
        <label for="user_file">Upload Your File</label>
        <br/><br/>
        <input type="file" name="user_file"/>
        <br/><br/>
        <em><font color="#FF0000">Note: File must have .csv extension</font></em>
        <br/><br/>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
